################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/XF_Prism_MarvelCards/XF_Prism_MarvelCards/XF_Prism_MarvelCards/bin/Debug/netstandard2.0
/XF_Prism_MarvelCards/XF_Prism_MarvelCards/XF_Prism_MarvelCards/obj
/XF_Prism_MarvelCards/XF_Prism_MarvelCards/XF_Prism_MarvelCards.Android/bin/Debug
/XF_Prism_MarvelCards/XF_Prism_MarvelCards/XF_Prism_MarvelCards.Android/obj
/XF_Prism_MarvelCards/XF_Prism_MarvelCards/XF_Prism_MarvelCards.UWP/obj
/.vs
/XF_Prism_MarvelCards/.vs/XF_Prism_MarvelCards
/XF_Prism_MarvelCards/XF_Prism_MarvelCards/bin/Debug/netstandard2.0/XF_Prism_MarvelCards.dll
/XF_Prism_MarvelCards/XF_Prism_MarvelCards/bin/Debug/netstandard2.0
/XF_Prism_MarvelCards/XF_Prism_MarvelCards/obj
/XF_Prism_MarvelCards/XF_Prism_MarvelCards.Android/bin/Debug
/XF_Prism_MarvelCards/XF_Prism_MarvelCards.Android/obj
/XF_Prism_MarvelCards/XF_Prism_MarvelCards.UWP/obj
/Common/bin/Debug/netstandard2.0
/Common/obj
/MarvelCardsWebAPI/bin/Debug/netcoreapp3.1
/MarvelCardsWebAPI/obj
